    <div class="home-banner d-flex flex-column">
      <div class="container">
      <h1>Getting Drunk Just Got Easier</h1>
      <p>Contribute To Our Alcooholic Community</p>
      <a class="btn btn-primary" href="#">Add A New Cocktail</a><!--
      <a class="btn btn-opposite" href="#">See All Our Cocktails</a> -->
      </div>
    </div>
